@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookacholics! </h1>
    <p>Browse through our collection of amazing books.</p>
    <p> If you are not already registered, register and then log in to get access to creating your own books, updating and deleting them. </p>

</div>
